.food-container {
    margin-left: 200px;
}
table{
    margin-top: 20px;
}

th.id {
    width: 5vw;
    text-align: center;
    padding: 10px;
}

th.nama {
    width: 40vw;
    text-align: center;
    padding: 10px;
}

th.gambar {
    width: 10vw;
    text-align: center;
    padding: 10px;
}

th.harga {
    width: 20vw;
    text-align: center;
    padding: 10px;
}

tbody {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}

tr {
    border: 1px solid black;
}

tr {
    padding: 20px;
}

tr:hover {
    cursor: pointer;
    background-color: #b4b4b4;
}

td {
    padding: 10px;
}

.button {
    background-color: #2bb8ff;
    color: white;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    /* margin-bottom: 20px; */
  text-decoration: none;

}

/* CSS untuk container kartu makanan */
.food-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-foods {
    margin-left: 100px;
    width: 80%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}

.table-title {
    font-weight: bold;
    align-items: center;
}

.image-table {
    width: 100px;
    align-self: ce;
}

/* CSS untuk kartu makanan (FoodCard) */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: calc(25% - 1px);
    /* Ukuran kartu dengan margin */
    margin: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Styling untuk gambar makanan */
.food-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

/* Lebar untuk kartu makanan */
.food-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
}

.order-summary {
    width: 40%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}

/* CSS untuk modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0; /* Atur ketinggian awal menjadi 0 */
  background-color: rgba(0, 0, 0, 0.5); /* Latar belakang semi-transparan */
  overflow: hidden;
  transition: height 0.3s ease; /* Efek transisi ketinggian */
}

/* CSS untuk konten modal */
.modal-content {
  position: relative;
  background-color: #fff;
  margin: 50px auto; /* Jarak dari atas */
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-100%); /* Memindahkan konten ke atas */
  transition: transform 0.3s ease;
}

/* CSS untuk menampilkan modal */
.modal.active {
  height: 100%; /* Munculkan modal dengan mengatur ketinggian ke 100% */
}

/* CSS untuk menampilkan konten modal */
.modal.active .modal-content {
  transform: translateY(0); /* Tampilkan konten modal dengan mengatur transformasi ke 0 */
}

/* CSS untuk mengatur tampilan input uang pembeli */
.uang-pembeli-input {
  margin-left: 20px; /* Memberi jarak antara tabel dan input */
}
/* CSS untuk mengatur tampilan tabel */
.table-and-input {
  display: flex; /* Menggunakan display flex untuk mengatur konten berdampingan */
  align-items: center; /* Menyelaraskan item ke tengah vertikal */
}