.navbar {
  background-color: #2bb8ff;
  color: white;
  padding: 1px;

}

.nav-brand {
  margin-left: 50px;
}

.nav-menu {
  background-color: #ffffff;
  list-style-type: none;
  padding: 10px 0;
  display: flex;
  color: black;
  margin: 0;
  margin-bottom: 20px;
  /* margin-right: 0; */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-item {
  /* margin-right: 0; */
  margin-left: 60px;
}

.nav-item:last-child {
  /* margin-right: 0; */
}

.nav-item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav-item a:hover {
  color: #2bb8ff;
}